:root {
    --blue: #0193d7;
    --dark: #02384e;
    --gray: #6d6e71;
    --light: #ffffff;
    --spot: #a3ce52;
}

body {
     font-size: 16px;
     font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 40px;
    background: var(--dark);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif
}
      
h1 {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

nav ul li:before{
    content: "//";
    position: relative;
    left: -1px;
}

li a {
    color: var(--light);
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/chonk-adoption-blue.png");
    background-size: cover;
    background-position: center;
}
main a{
    text-decoration:none;
}
.content-area {
    width: 100%;
}

figure h2{
    font-size: 36px;
    color: var(--light);
    text-align: center;
    padding-bottom: 20px;
}

figure p{
    font-family: monospace;
    color: var(--light);
    font-size:20px;
    line-height: 1.5;
}
 /* about */   
.figure-about {
    margin-bottom: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blue);
    color: var(--light);
}
/*sample work header*/
.figure-work{
    margin-bottom: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}
/*sample work boxes*/
.figure-work h2{
    font-size: 36px;
    color: var(--blue);
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    justify-content: center
}
/*featured work*/
.featured-work {
    flex: 1;
    background-color: var(--light);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
  
.featured-box {
    border-style: solid;
    border-width: 3px;
    border-color: var(--gray);
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 600px;
    margin: 20px;
}

.featured-box div{
    background-color: var(--spot);
    font-size: 36px;
    color: var(--light);
    border-radius: 10px 10px;
    padding: 20px;
    font-size: 50;
    text-align: center;
}

/* addt'l work*/
.work {
    flex: 2;
    background-color: var(--light);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
  
.box {
    border-style: solid;
    border-width: 3px;
    border-color: var(--gray);
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    margin: 20px;
}

.box div{
    background-color: var(--blue);
    color: var(--light);
    border-radius: 10px 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

/*contact section*/
.figure-contact {
    margin-bottom: 20px;
    padding-top: 25px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--spot);
    color: var(--light);
}

.figure-contact p{
    font-family: monospace;
    color: var(--light);
    font-size:20px;
    line-height: 1.5;
    text-align: center;
}

.figure-contact a{
    color: var(--light);
}

footer{
    background-color: var(--gray);
    padding: 40px;
}

footer h3{
    font-size: 24px;
    color: var(--light);
    text-align: center;
}

@media screen and (max-width: 992px) {
    main,
    nav {
      flex-direction: column;
    }
    header {
      background-color: var(--spot);
    }
    footer{ 
      background-color: var(--dark)
    }
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    header {
      background: var(--blue);
    }
    footer {
      background-color: var(--blue);
    }
  }

@media screen and (max-width: 576px) {
    main,
    nav li{
        display: flex;
        flex-direction: column;
    }
    header {
      background-color: var(--gray);
    }
    footer{ 
      background-color: var(--blue)
    }
}